@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* ///////////////Styling From Below////////// */


body{
  /* General Styling */
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(229, 23%, 23%);
  font-size: 18px;

  /* Positioning */
  height: 100vh;
  display: grid;
  place-items: center;

  /* Background */
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 48vw bottom 40vh,left 50vw top 54vh;
  background-color: hsl(185, 75%, 39%);
}


.container{
  min-width: 350px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  background-color: #ffffff;
}

.container > img {
  border-radius:20px 20px 0  0;
}

.common-pad{
  padding: 1.5em 2em;
}

.profile-section{
  padding: 4em 0 1.5em 0;
  color:hsl(0, 0%, 59%);
}

.profile-section > img {
  position: absolute;
  top: 90px;
  left: 33%;
  border-radius: 100%;
  border: 5px solid white;
} 

.profile-section h2{
  font-weight: 500;
}

.profile-section-intro {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}


.profile-section-intro span{
  margin-right: 10px;
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.profile-section-data{
  border-top: 1px solid hsl(0, 6%, 86%);
  display: flex;
  justify-content: space-between;
}

.profile-section-data p {
  color: hsl(0, 0%, 59%);
  font-size: 13px;
  letter-spacing: 1.5px;
}

